<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow-lg p-4 rounded-4 w-100" style="max-width: 400px;">
        <div class="text-center mb-3">
            <i class="bi bi-person-circle fs-1 text-primary"></i>
            <h4 class="mt-2 fw-bold">Iniciar Sesión</h4>
        </div>

        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
            <div class="mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input type="text" id="usuario" class="form-control" [(ngModel)]="usuario" name="usuario"
                        required />
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password"
                        required />
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">
                <i class="bi bi-box-arrow-in-right"></i> Entrar
            </button>


        </form>
    </div>
</div>